
body {
    background-color: #4682B4; /* Darker blue sky color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    padding: 20px;
    border-radius: 20px; /* Rounded corners */
    z-index: 2; /* Ensure it's above other elements */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px; /* Rounded input */
    border: none;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent input background */
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #FFD700; /* Yellow button color */
    border: none;
    border-radius: 20px; /* Rounded button */
    cursor: pointer;
}

button:hover {
    background-color: #FFA500; /* Yellow button hover color */
}

#collectionsContainer {
    padding: 10px;
    position: absolute;
    top: calc(100% + 30px); /* Position below the create collection container */
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 20px; /* Gap between grid items */
    z-index: 1; /* Ensure it's below the container */
}

.collection {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    margin-bottom: 10px;
    max-width: 300px; /* Limit width */
}

.collection h2 {
    font-size: 1em; /* Adjust heading font size */
    margin-bottom: 5px;
}

.collection button {
    padding: 5px 10px;
    font-size: 0.8em;
    background-color: #FFD700; /* Yellow button color */
    border: none;
    border-radius: 10px; /* Rounded button */
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.collection button:hover {
    background-color: #FFA500; /* Yellow button hover color */
    transform: translateY(-1px); /* Move button up slightly on hover */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Change shadow on hover */
}
.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.back-button button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #FFD700; /* Yellow button color */
    border: none;
    border-radius: 20px; /* Rounded button */
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.back-button button:hover {
    background-color: #FFA500; /* Yellow button hover color */
    transform: translateY(-2px); /* Move button up slightly on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Change shadow on hover */
}
/* Add margin between buttons and input boxes */
button,
input[type="text"] {
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Round the corners of input boxes */
input[type="text"] {
    border-radius: 5px;
}
.image-container {
    text-align: center; 
    margin-top: 100px; /* Adjust the top margin to create space between images and intro container */
    width: 100%; 
    position: absolute; /* Position the image container */
    top: 0; 
    left: 0; 
  }

